<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstream</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/librarian-login.css">
</head>
<body>
    <header>
        <a href="/"><img src="/images/system-logo.svg" alt="logo"></a>
    </header>
    <div class="container">
        <div class="text-container">
            <h1>Library Management made easy!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, atque? Repudiandae quaerat cum vitae voluptates aspernatur sit incidunt sint maxime dolor! Quaerat necessitatibus accusantium possimus quo quas repellat laudantium tempora nisi incidunt aut fuga laboriosam ad tenetur voluptate rem repudiandae accusamus impedit mollitia, consequatur odit ipsam facilis corporis dolorum. Nihil?</p>
        </div>
        <a href="/login"><img src="/images/arrow-left-nav.svg" id="prev-page" alt="Previous-page"></a>
        <div class="form-container">
            <h2>You are just a few steps away from a seamless transition.....</h2>
            <div class="actions-container">
                <div class="login-form">
                    <%- include('../layouts/flash') %>
                    <div class="title">
                        <img src="/images/librarian-login-icon.svg" alt="login">
                        <p>Librarian Login</p>
                    </div>
                    <hr>
                    <form action="/admin/login" method="post">
                        <div class="user-details">
                            <div class="username">
                                <label for="username">Username</label>
                                <input type="text" name="username" id="username">
                            </div>
                            <div class="user-code">
                                <label for="user-code">CollegeID</label>
                                <input type="number" name="collegeid" id="user-code">
                            </div>  
                        </div>
                        <div class="user-password">
                            <div class="pass">
                                <label for="password">Password</label>
                                <a href="#" style="text-decoration: none;">
                                    <p>Forgot password?</p>
                                </a>
                            </div><br>
                            <div class="pass-input">
                                <input type="password" name="password" id="password">
                                <div class="show-pass">
                                    <img src="/images/password-eye.svg" alt="" id="toggle">
                                </div>
                            </div>
                        </div>
                        <div class="remember-me">
                            <input type="checkbox" name="remember-me" id="remember-me">
                            <label for="remember-me">Remember me</label>
                        </div>
                        <div class="login-btn">
                            <button type="submit" id="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
         const password = document.getElementById("password"); 
        const toggle = document.getElementById("toggle");

        document.getElementsByClassName("show-pass")[0].addEventListener("click", function(){
            if(password.type == "password"){
                password.type = "text";
                toggle.src = "/images/close-eye.svg";}
                else{
                    password.type = "password";
                    toggle.src = "/images/password-eye.svg";
                }
        });
    </script>
</body>
</html>