<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstream</title>
</head>
<body>
    <h1>Requested Books</h1>
    <% for(l of list) { %>
        <div>
            <p>Student name: <%= l.user.username %> </p>
            <p>Book requested: <%= l.book.title %> </p>
        </div>
    <% } %>      
</body>
</html>