<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstream</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/4badbcfa1f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img src="/images/Bookstream-transparent logo.png" alt="logo" class="logo">
        <nav>
            <a href="#" class="quick-links">Home</a>
            <a href="#" class="quick-links">Details</a>
            <a href="#" class="quick-links">Pricing</a>
            <a href="#" class="quick-links">Contact Us</a>
        </nav>
        <div class="onboard">
            <a href="/onboarding"><button id="onboarding">Get started</button></a>
        </div>
    </header>
    <section class="hero">
        <div class="hero-image">
            <h1 class="hero-title">The future of Library Management</h1>
            <div class="image">
                <!-- <div class="flip-card-inner">
                    <div class="flip-card-front"> -->
                    <img src="/images/hero-image.png" alt="hero image" id="hero-image">
                    <!-- </div> -->
                    <!-- <div class="flip-card-back">
                        <h1>Is here!</h1>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <section class="product-details">
        <h3 id="features-copy1">Everything you need..</h3>
        <div class="features-container">
            <div class="features">
                <img src="/images/add-user.png" alt="Add user" id="add-user">
                Add User
            </div>
            <div class="features">
                <img src="/images/manage-books.png" alt="manage Books" style="width: 250px; height: 250px;">
                Manage books
            </div>
            <div class="features">
                <img src="/images/allot-books.png" alt="allot Books" style="width: 250px; height: 250px;">
                Allot books
            </div>
            <div class="features">
                <img src="/images/return-reminder.png" alt="return-reminder" style="width: 250px; height: 250px;">
                Book return alert
            </div>
        </div>
        <h3 id="features-copy2">At one place! :)</h3>
    </section>
    <section class="pricing">
        <h3 id="pricing-copy1">A product that fits your pocket and your wallet! :)</h3>
        <div class="features-container">
            <div class="pricing-card">
                <div>
                    <div class="pricing-type">
                        <h2>Basic</h2>
                        <span><h6 style="padding-left: 4px;">(monthly)</h6></span>
                    </div>
                    <h4 style="margin-top: 5px;">₹1,299</h4>
                    <div class="line"></div>
                    <div class="features-list"><i class="fa-solid fa-check"></i><h4 id="feature-list">Limited books</h4></div>
                    <div class="features-list"><i class="fa-solid fa-check"></i><h4 id="feature-list">Limited members</h4></div>
                    <div class="features-list">
                    <i class="fa-solid fa-check"></i><h4 id="feature-list"> Limited features</h4></div>
                </div>
                <button id="button">Know more</button>
            </div>
            <div class="pricing-card">
                <div>
                    <div class="pricing-type">
                        <h2>Basic</h2>
                        <span><h6 style="padding-left: 4px;">(annually)</h6></span>
                    </div>
                    <div class="price">
                        <h4 style="margin-top: 5px;">₹14,029</h4><h6 style="margin-left:10px;">-10% 😉</h6>
                    </div>
                    <div class="line"></div>
                    <div class="features-list"><i class="fa-solid fa-check"></i><h4 id="feature-list">Limited books</h4></div>
                    <div class="features-list"><i class="fa-solid fa-check"></i><h4 id="feature-list">Limited members</h4></div>
                    <div class="features-list">
                    <i class="fa-solid fa-check"></i><h4 id="feature-list"> Limited features</h4></div>
                </div>
                <button id="button">Know more</button>
            </div>
            <div class="pricing-card">
                <div>
                    <div class="pricing-type">
                        <h2>Pro</h2>
                        <span><h6 style="padding-left: 4px;">(monthly)</h6></span>
                    </div>
                    <h4 style="margin-top: 5px;">₹3,999</h4>
                    <div class="line"></div>
                    <div class="features-list"><i class="fa-solid fa-check"></i><h4 id="feature-list">Unimited books</h4></div>
                    <div class="features-list"><i class="fa-solid fa-check"></i><h4 id="feature-list">Unimited members</h4></div>
                    <div class="features-list">
                    <i class="fa-solid fa-check"></i><h4 id="feature-list"> Unimited features</h4></div>
                    <div class="features-list">
                    <i class="fa-solid fa-check"></i><h4 id="feature-list"> Generate Unique QR</h4></div>
                    <div class="features-list">
                    <i class="fa-solid fa-check"></i><h4 id="feature-list"> Direct chat features</h4></div>
                </div>
                <button id="button">Know more</button>
            </div>
            <div class="pricing-card">
                <div>
                    <div class="pricing-type">
                        <h2>Pro</h2>
                        <span><h6 style="padding-left: 4px;">(annually)</h6></span>
                    </div>
                    <div class="price">
                        <h4 style="margin-top: 5px;">₹40,789</h4><h6 style="margin-left:10px;">-15% 😉</h6>
                    </div>
                    <div class="line"></div>
                    <div class="features-list"><i class="fa-solid fa-check"></i><h4 id="feature-list">All features of Pro (monthly)</h4></div>
                    <div class="features-list"><i class="fa-solid fa-check"></i><h4 id="feature-list">Book return reminder</h4></div>
                    <div class="features-list">
                    <i class="fa-solid fa-check"></i><h4 id="feature-list"> Late return penalty</h4></div>
                </div>
                <button id="button">Know more</button>
            </div>
        </div>
        <div class="post-message">
            <h4 id="message">Doesn't fit your wallet?</h4><button id="sales">Contact Sales!</button>
        </div>
    </section>
    <section class="contact-us">
        <div class="message">
            <h3>For complaints/doubts/queries/suggestions, contact us below.</h3>
        </div>
        <form action="/feedback" method="post" class="contact-form">
            <h2>Name</h2><input type="text" name="name" required>
            <h2>Contact No.</h2><input type="tel" name="phone" required>
            <h2>E-mail</h2><input type="email" name="email" required>
            <h2>Queries/Complaints/Suggestions/Feedbacks</h2><input type="textbox" id="big-text" name="feedback">
            <input type="submit" id="submit" name="Submit">
        </form>
    </section>
    <footer>
        <header>
            <img src="/images/Bookstream-transparent logo.png" alt="logo" class="logo">
            <nav>
                <a href="#" class="quick-links">Home</a>
                <a href="#" class="quick-links">Details</a>
                <a href="#" class="quick-links">Pricing</a>
                <a href="#" class="quick-links">Contact Us</a>
            </nav>
            <!-- <div class="onboard">
                <a href="login_option.html"><button id="login">Login</button></a>
                <a href="admin_signup.html"><button id="sign-up">Sign Up</button></a>
            </div> -->
        </header>
    </footer>
</body>
</html>