<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstream</title>
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="manage-sections.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <div class="side-pane">
        <div class="logo">
            <a href="#"><img src="logo-white.png" alt=""></a>
        </div>
        <div class="nav">
            <div class="nav-item">
                <a href="librarian-dashboard.html"><img src="dashboard-icon.svg" alt=""><p> Dashboard</p></a>
            </div>
            <div class="nav-item">
                <a href="manage-books.html"><img src="book-icon.svg" alt=""><p> Manage Books</p></a>
            </div>
            <div class="nav-item">
                <a href="overdue-books.html"><img src="clock-icon.svg" alt=""><p> Overdue Books</p></a>
            </div>
            <div class="nav-item">
                <a href="manage-students.html"><img src="student-icon.svg" alt=""><p> Manage Students</p></a>
            </div>
            <div class="nav-item">
                <a href="manage-sections.html"><img src="location-icon.svg" alt=""><p> Manage Sections</p></a>
            </div>
            <div class="nav-item">
                <a href="manage-requests.html"><img src="book-icon.svg" alt=""><p> Borrow requests</p></a>
            </div>
        </div>
    </div>
    <div class="main-cont">
        <div class="header">
            <div class="title">
                <h1>Manage your book locations</h1>
            </div>
            <div class="acc_settings">
                <img src="setting-icon.svg" alt="settings">
                <div>Account Settings</div>
            </div>
        </div>
        <hr>
        <div class="update">
            <lottie-player src="https://assets3.lottiefiles.com/private_files/lf30_xeb8piyr.json" background="transparent"  speed="1"  style="width: 450px; height: 450px;" loop autoplay></lottie-player><br>
            <h1>Hold tight! Feature coming soon.</h1>
        </div>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    </div>
    </body>
    </html>