<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="onboarding.css">
</head>
<body>
    <header>
        <img src="system-logo.svg" alt="logo">
    </header>
    <div class="container">
        <div class="text-container">
            <h1>Library Management made easy!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, atque? Repudiandae quaerat cum vitae voluptates aspernatur sit incidunt sint maxime dolor! Quaerat necessitatibus accusantium possimus quo quas repellat laudantium tempora nisi incidunt aut fuga laboriosam ad tenetur voluptate rem repudiandae accusamus impedit mollitia, consequatur odit ipsam facilis corporis dolorum. Nihil?</p>
        </div>
        <div class="form-container">
            <h2>You are just a few steps away from a seamless transition.....</h2>
            <div class="actions-container">
               <div class="heading">
                    <img src="signup-users-icon.svg" alt="user-icon">
                    <p>Let's get started!</p>
               </div>
               <div class="buttons">
                <a href="login.html" style="text-decoration: none; color: #FDFCFC;">
                    <div class="login">
                        <img src="login-icon.svg" alt="login">
                        <p>Login</p>
                    </div>
                </a>
                    <p>OR</p>
                    <div class="sign-up">
                        <img src="sign-up-icon.svg" alt="sign-up">
                        <p>Sign-up</p>
                    </div>
               </div>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, rerum. Consequuntur voluptatum, eum suscipit eligendi obcaecati harum libero quisquam velit beatae dolorum maiores dolore numquam illum, quasi impedit nesciunt voluptate.</p>
            </div>
        </div>
    </div>
</body>
</html>