<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstream</title>
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="request-book.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <div class="side-pane">
        <div class="logo">
            <a href="#"><img src="logo-white.png" alt=""></a>
        </div>
        <div class="nav">
            <div class="nav-item">
                <a href="#"><img src="dashboard-icon.svg" alt=""><p> Dashboard</p></a>
            </div>
            <div class="nav-item">
                <a href="request-book.html"><img src="book-icon.svg" alt=""><p> Request New Book</p></a>
            </div>
            <!-- <div class="nav-item">
                <a href="manage-books.html"><img src="clock-icon.svg" alt=""><p> Overdue Books</p></a>
            </div>
            <div class="nav-item">
                <a href="manage-students.html"><img src="student-icon.svg" alt=""><p> Manage Students</p></a>
            </div>
            <div class="nav-item">
                <a href="manage-requests.html"><img src="location-icon.svg" alt=""><p> Manage Sections</p></a>
            </div>
            <div class="nav-item">
                <a href="manage-issues.html"><img src="book-icon.svg" alt=""><p> Borrow requests</p></a>
            </div> -->
        </div>
    </div>
    <div class="main-cont">
        <div class="header">
            <div class="title">
                <h1>Borrow a book</h1>
            </div>
            <div class="acc_settings">
                <img src="setting-icon.svg" alt="settings">
                <div>Account Settings</div>
            </div>
        </div>
        <hr>
        <div class="search-book">
            <h1>Search book by title here</h1>
            <div class="search-bar">
                <input type="text" placeholder="Search book by title">
                <button>Search</button>
            </div>
        </div>
        <div class="data-tab">
            <table class="blueTable">
                <thead>
                <div class="tab-head">
                    <tr >
                    <th>Title</th>
                    <th>Author</th>
                    <th>Category</th>
                    </tr>
                </div>
                </thead>
                <tbody>
                <tr>
                <td>Rosabelle Leuchars
                </td><td>posuere nonummy integer non
                </td><td>nunc
                </td></tr>
                <tr>
                <td>Carmon L'Episcopio
                </td><td>sapien ut nunc vestibulum ante ipsum primis in
                </td><td>pellentesque
                </td></tr>
                <tr>
                <td>Berk Himpson
                </td><td>nunc donec quis orci
                </td><td>volutpat sapienm</td></tr>
                <tr><td>Johannah Braid</td>
                    <td>duis aliquam convallis nunc proin at turpis</td>
                    <td>at</td>
                </tr>
                <tr>
                <td>Dhruv Jain</td><td>Chutiya</td><td>eknumberkachutiya@virar.com</td></tr>
                <tr>
                <td>Dhruv Jain</td><td>Chutiya</td><td>eknumberkachutiya@virar.com</td></tr>
                <tr>
                <td>Dhruv Jain</td><td>Chutiya</td><td>eknumberkachutiya@virar.com</td></tr>
                <td>Dhruv Jain</td><td>Chutiya</td><td>eknumberkachutiya@virar.com</td></tr>
                <td>Dhruv Jain</td><td>Chutiya</td><td>eknumberkachutiya@virar.com</td></tr>
                <td>Dhruv Jain</td><td>Chutiya</td><td>eknumberkachutiya@virar.com</td></tr>
                </tbody>
                </tr>
                </table>
        </div>
        <div class="request">
            <button>Request book</button>
        </div>
    </div>
</body>
</html>