<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstream</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/sign-up.css">
</head>
<body>
    <header>
        <a href="/"><img src="/images/system-logo.svg" alt="logo"></a>
    </header>
    <div class="container">
        <div class="text-container">
            <h1>Library Management made easy!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, atque? Repudiandae quaerat cum vitae voluptates aspernatur sit incidunt sint maxime dolor! Quaerat necessitatibus accusantium possimus quo quas repellat laudantium tempora nisi incidunt aut fuga laboriosam ad tenetur voluptate rem repudiandae accusamus impedit mollitia, consequatur odit ipsam facilis corporis dolorum. Nihil?</p>
        </div>
        <a href="/onboarding"><img src="/images/arrow-left-nav.svg" id="prev-page" alt="Previous-page"></a>
        <div class="form-container">
            <h2>You are just a few steps away from a seamless transition.....</h2>
            <div class="actions-container">
                <div class="login-form">
                    <div class="title">
                        <img src="/images/forward-icon.svg" alt="login">
                        <p>Just a few steps, and we will be done..</p>
                    </div>
                    <hr>
                    <form action="">
                        <div class="details">
                            <div class="college-id">
                                <label for="college-id">College ID</label>
                                <input type="text" name="collegeid" id="college-id">
                            </div>
                            <div class="designation">
                                <label for="user-designation">Designation</label>
                                <input type="text" name="designation" id="designation">
                            </div>  
                        </div>
                        <div class="fullname">
                            <label for="fullname">Your Name</label><br>
                            <div class="name">
                                <input type="text" name="username" id="fullname">
                            </div>
                        </div>
                        <div class="next">
                            <button type="submit" id="next">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
</body>
</html>