<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstream</title>
    <link rel="icon" type="image/x-icon" href="favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="super-dashboard.css">
</head>
    <body>
        <header>
            <h1>Welcome Super Admin!</h1>
            <div class="acc_settings">
                <img src="setting-icon.svg" alt="settings">
                <a href="#">Account Settings</a>
            </div>
        </header>
        <hr id="break">
        <div class="main">
            <div class="stats">
                <div class="div1"></div>
                <div class="div2"></div>
                <div class="div3"></div>
            </div>
            <!-- <hr id="division"> -->
            <div class="actions">
                <a href="#" id="actions"><div class="manage-librarians">
                    <img src="book-icon.svg" alt="book-icon">
                    <p>Manage Librarians</p>
                </div></a>
                <a href="#" id="actions"><div class="manage-students">
                    <img src="student-icon.svg" alt="book-icon">
                    <p>Manage Students</p>
                </div></a>
            </div>
        </div>
        <div class="users">
            <div class="details">
                <div class="title">
                    <h2>Librarians</h2>
                    <a href="#" class="expand">
                        <p>Detailed List</p>
                        <img src="right-arrow-icon.svg" alt="right-arrow-icon">
                    </a>
                </div>
            </div>
            <div class="details">
                <div class="title">
                    <h2>Students</h2>
                    <a href="#" class="expand">
                        <p>Detailed List</p>
                        <img src="right-arrow-icon.svg" alt="right-arrow-icon">
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>