*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    font-family: 'Urbanist', sans-serif;
    background: #FFFFFF;
    opacity: 0.9;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* border: 2px solid black; */
}

header h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: #000000;
    /* border: 2px solid black; */
}

.acc_settings{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15vw;
    height: 8vh;
    padding: 10px;
    /* border: 2px solid black; */
}

.acc_settings img{
    width: 35px;
    height: 35px;
    /* border-radius: 50%; */
    /* border: 2px solid black; */
}

.acc_settings a{
    text-decoration: none;
    color: #5A5A5A;
    font-size: 1.3rem;
    font-weight: 600;
    /* border: 2px solid black; */
}

.acc_settings:hover{
    background-color: #4874FF;
    transition: 0.2s;
}

.page-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 33%;
    /* border: 2px solid black; */
}

.main{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 10px 0px;
    margin-top: 20px;
    /* border: 2px solid black; */
}

.title{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    /* border: 2px solid black; */
}

.title h1{
    font-size: 1.8rem;
    font-weight: 500;
    color: #3C3C3C;
    /* border: 2px solid black; */
}

.add-librarian{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 40px;
    background: #436BE6;
    border-radius: 6px;
    /* border: 2px solid black; */
}

.add-librarian img{
    width: 25px;
    height: 25px;
}

.add-librarian p{ 
    font-size: 1.1rem;
    font-weight: 500;
    color: #FFFFFF;
}

.data-tab {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 350px;
    /* padding: 20px 0px; */
    overflow-y: auto;
    background-color: #E7EFFF;
    border-radius: 15px;
    /* border: 2px solid black; */
}

table.blueTable {
    width: 95%;
    height: 90%;
    text-align: left;
    position: relative;
    top: 10px;
    /* border: 2px solid black; */
    /* overflow-y: auto; */
    /* border-collapse: collapse; */
}

table.blueTable td,
table.blueTable th {
    padding: 4px 20px;
    /* font-weight: 600; */
    /* border: 2px solid black; */
}

table.blueTable th {
    font-weight: 400;
}

table.blueTable tbody td {
    font-size: 17px;
}

table.blueTable thead th {
    font-size: 25px;
    position: sticky;
    font-weight: bold;
}

table.blueTable tfoot td {
    font-size: 20px;
}

.tab-head {
    position: sticky;
}